.admin-body-section{
    height: 100%;
    width: 100%;
}
.body-left{
    width: 50px;
    height: 100%;
    background: #103bff;
    float: left;
    padding: 10px 0px;
}
.body-left ul>li {
    text-align: center;
    margin-bottom: 20px;
}
.body-left ul>li a{
    color: #fff;
}
.body-right{
    width: calc(100% - 50px);
    height: 100%;
    float: left;
    padding: 30px;
    position: relative;
    overflow: hidden;
}
#loading{
    position: absolute;
    height: calc(100% - 60px);
    width: calc(100% - 50px);
    background: #fff;
    opacity: 0.7;
    z-index: 10;
}
#loading .fas{
    position: absolute;
    top: 30%;
    left: 50%;
}
.title .title-right {
    text-align: right;
}
.body-right .table{
    width: 100%;
}
.body-left ul>li{
    padding: 5px;
}
.body-left ul>li.active{
    background: #fff
}
.body-left ul>li.active a{
    color: #103bff
}
.col-form-label {
    text-align: right;
    font-size: 13px;
}
.section-content,.exercise-content,.section-content,.lession-content{
    height: 100%;
    width: 100%;
}
.section-content .title{
    height: 50px;
}
.section-content .content{
    height: calc(100% - 50px);
}
.section-content .exercise-content .exercise-vocabulary,.section-content .lession-content .lession-vocabulary{
    border-radius: 8px;
    border : 1px solid #ccc;
    padding: 10px;
}
.exercise-result,.exercise-vocabulary,.lession-result,.lession-vocabulary{
    height: 100%;
}
.table-result{
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
}
.exercise-vocabulary .table-vocabulary,.lession-vocabulary .table-vocabulary{
    overflow: auto;
    box-shadow: 6px 4px 10px 6px #ccc;
    height: calc(100% - 100px);
}
.button-result{
    padding: 10px;
    height: 25px;
}
.content-table-result{
    padding: 10px;
}
.name-exercise,.name-lession{
    padding: 10px
}
.count-vocabulary-in{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    display: block;
    background: #bd2130;
    border-radius: 100%;
    width: 27px;
    height: 27px;
    color: #fff;
}
.arrow-push-all-vocabulary{
    background: #0a900a;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    color: #fff;
    text-align: center;
    line-height: 3.2;
    cursor: pointer;
}
.select2-container>span.selection{
    width: 100%;
}